.cats {
    margin: 21px 0px;
    padding-bottom: 20px;
    display: flex;
    white-space: nowrap;
    .cat {
        padding: 14px 16px;
        background-color: #ffffff;
        border-radius: 60px;
        font-size: small;
        font-weight: 500;
        margin-right: 15px;
    }

    .active {
        border: 1px solid black;
        font-weight: bold;
    }
}
  